.uniqueRoulette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.uniqueRoulette .wheel-container {
  margin-bottom: 20px;
}

.uniqueRoulette button {
  margin-top: 20px;
}
button {
  padding: 10px;
  border: none;
  background: transparent;
  color: #03e9f4;
  transition: .5s;
  
}

button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

