body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #343a40!important;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0);
}
@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}
label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}
.footer{
  height: 20vh;
}


.pagesGame{
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  padding: 5%;
  height: 80vh;
}
.poza1{
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  background: url('image/crash.png') no-repeat;
  background-size:contain;
}

.poza2{
  width: 100%;
  height: 100%;
  grid-column-start: 2;
  background: url('image/rullete.jpg') no-repeat;
  background-size:contain;
  
}
.poza3{
  width: 100%;
  height: 100%;
  grid-column-start: 3;
  background: url('image/loterie2.jpg') no-repeat;
  background-size:contain;
 
}



